@model IEnumerable<Category>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery

@{
    ViewData["Title"] = "Categories";
}

<div class="card shadow-sm mt-2">


    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="card-title">
                    <div class="symbol symbol-30px">
                        <div class="text-primary">
                            <i class="bi bi-diamond-fill"></i>
                            Categories
                        </div>
                    </div>
                </h3>
            </div>
            <div class="col-auto">
                <div class="card-toolbar">
                    <a class="btn btn-md btn-info js-render-model"
                       href="javascript:;"
                       data-title="Add Category" data-status="add"
                       data-url="/Categories/Create">
                        <i class="bi bi-plus-square me-1"></i>
                        Add
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="card-body">
        @if (!Model.Any())
        {
            <div class="alert alert-dismissible alert-warning">
                <h4 class="alert-heading">
                    <i class="bi bi-exclamation-circle-fill"></i>
                    Warning!
                </h4>
                <p class="mb-0">There is no categories found.</p>
            </div>
        }
        else
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Display Order</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <partial name="_CategoryRow" model="@category" />
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<input type="hidden" name="__RequestVerificationToken" value="@antiforgery.GetAndStoreTokens(Context).RequestToken" />


@section Scripts
{
    <partial name="_ValidationScriptsPartial">
}
